
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.assets.cache
vector/fSharpCode/obj/project.nuget.cache
vector/fSharpCode/obj/project.assets.json
vector/fSharpCode/obj/fSharpCode.fsproj.nuget.g.props
vector/fSharpCode/obj/fSharpCode.fsproj.nuget.dgspec.json
vector/fSharpCode/obj/fsac.cache
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.pdb
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.genruntimeconfig.cache
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.fsproj.FileListAbsolute.txt
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.fsproj.AssemblyReference.cache
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.dll
vector/fSharpCode/obj/Debug/net6.0/fSharpCode.assets.cache
vector/fSharpCode/obj/Debug/net6.0/apphost
